body {
  background-color: sandybrown;
}
.forms {
  text-align: center;
  border-radius: 10px;
  border-color: black;
  border-style: dashed;
  background-color: aqua;
}
input {
  text-align: center;
  color: blue;
}
form {
  text-align: center;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}
.input {
  background-color: rgb(248, 212, 166);
  border-radius: 5px;
  border-color: black;
}
table {
  margin-bottom: 20px;
}
.achivements {
  text-align: center;
  align-items: center;
}
